<p>
  Kontakt
  Telefon: +420 720 759 897
  Web:www.lostinhvozd.cz
  Email:lostinhvozd@seznam.cz
  Bankovní spojení: 670100-2209956125/6210 mBank
  Sponzoři:


  Mediální partneři:


  Orgové:
  Hlína - Global Head Office Executive Manager & Director, nic nedělá, zbytečně prudí a moc to hrotí.
  Olda - Lead Graphic, interní rejpal a kritik, jinak děvka pro všechno.
  Pepa - Nová kref do týmu, copak si na vás asi vymyslí...
  Honza - Lehce outsourcovaný člen letošního týmu.
  Adel - Zapálená ekoložka a PR executive
  Speciální poděkování:
  Testerům z týmů Chlýftým (Aleš), Carpe Testudo (Martin), Voyager (Tomáš a Lenka), Nevykosnem (Jarda, Jana), Pedrovi, Otovi se ženou a Léně s kamarádkou, kteří na dvou ostrých hodspodských testech odvedli velmi kvalitní práci, bez nichž bychom byli za šifry ukamenováni!
  Spolehlivému B-týmu v téměř tradičním složení Luboš, Linda, Azrael.
  Naší Katce z Psychokopytníků za příspěvek v podobě trosečnické šifry.
  Půjčovně lodí Samba za vstřícný přístup při zajišění akce.
  Občerstvení U Kelímka za umožnění vyhlášení hry.
  Kempu v Pikovicích
</p>
