.pay {
  font-size: 1.5em;
  font-weight: bold;
  color: #147599;
}

.noPay {
  font-size: 1.5em;
  // font-weight: bold;
}

.paySent {
  font-style: italic;
  color: gold;
}

.payNoSent {
  font-style: italic;
}
