<mat-card class="app-content">
  <div>Počet týmů: {{teamsCount}}</div>
  <div>Počet týmů, které mají zaplaceno: {{teamsPayCount}}</div>
  <div>Počet lidí z registrace: {{peopleCount}}</div>
  <div>Počet lidí z variant ubytovaní: {{peopleAccommodationCount}}</div>
  <div>Počet lidí v budově: {{peopleBuildingCount}}</div>
  <div>Počet týmů v budově: {{teamsBuildingCount}}</div>
  <div>Počet lidí v chatkách: {{peopleHutCount}}</div>
  <div>Počet týmů v chatkách: {{teamsHutCount}}</div>
  <div>Počet jídel: {{peopleFoodCount}}</div>
  <div>Vybraná jídla: FOR</div>
  <div>Počet třiček: {{tshirtsCount}}</div>
  <div>Vybraná trička: FOR</div>
  <div>Celková částka za týmy k platbě: {{SummaryForPay}}</div>
  <div>Celková částka za týmy - zaplaceno: {{SummaryPay}}</div>
  <div>Týmy a jejich čísla: FOR</div>
  <div *ngFor="let team of teams; let i = index">
    <span [ngClass]="{pay: !!team.paySent, noPay: !team.paySent}">{{team.name}}</span> -
    <span class="paySent" *ngIf="!!team.paySent">zaplaceno</span>
    <span class="payNoSent" *ngIf="!team.paySent">nezaplaceno</span>
    <div *ngIf="i === config.teams_limit - 1"><hr></div>
  </div>
  <!--
  <div>{{name}}{{email}}{{phone}}{{teamPeopleCount}}{{teamTshirtsCount}}{{teamAccommodation}}{{pay}}{{payId}}</div>
  <div>{{teamTshirts}} {{teamFoods}}</div>-->
</mat-card>
