<mat-card class="app-content">
  <h1>Registrace byla úspěšně provedena {{(loginUser$ | async).name}}</h1>

  <h2>Údaje pro platbu:</h2>

  <div>číslo účtu:&nbsp;<strong>{{(loginUser$ | async).payAccount}}</strong></div>
  <div>variabilní symbol:&nbsp;<strong>{{(loginUser$ | async).payId}}</strong></div>
  <div>částka:&nbsp;<strong>{{(loginUser$ | async).payAmount | number: '1.0-0'}}</strong> Kč</div>
  <div>(startovné: {{(config$ | async).config.registration_price | number}} Kč, ubytování: {{(loginUser$ | async).accommodationPrice | number}} Kč, trička: {{(loginUser$ | async).tshirtsPrice | number}} Kč)</div>
</mat-card>>
