<span class="smurf"></span>
<mat-toolbar color="primary">
  <span class="smurf-space"></span>
  <a href="javascript:void(0);" routerLink="/" class="title" color="secondary" mat-button>
    <i class="material-icons">motorcycle</i>
    Labyrint 2018
  </a>
  <a href="javascript:void(0);" routerLink="/teams/registration" mat-button>
    Registrace
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Novinky
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Týmy
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Pravidla
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Šifry
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Výsledky
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Kontakt
  </a>
  <a href="javascript:void(0);" routerLink="/" mat-button>
    Můj tým
  </a>
</mat-toolbar>
