/*
.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
*/

.smurf {
  top: 0px;
  position: fixed;
  z-index: 999;
  content:url('/assets/smurf.png');
}

.smurf2 {
  /*position: fixed;
  z-index: 999;*/
  content:url('/assets/smurf5.png');
}

.smurf-space {
  margin-left: 162px;
}

.title {
  font-size: large;
}
