/*
.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
*/

.smurf {
  top: 0px;
  position: fixed;
  z-index: 999;
  width: 162px;
  height: 171px;
  content:url('/assets/smurf.png');
  background-image:url('/assets/smurf.png');
}

.smurf2 {
  /*position: fixed;
  z-index: 999;*/
  width: 30px;
  height: 53px;
  content:url('/assets/smurf5.png');
  background-image:url('/assets/smurf5.png');
}

.smurf3 {
  width: 284px;
  height: 163px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  content:url('/assets/smurf2.png');
  background-image:url('/assets/smurf2.png');
}

.smurf4 {
  width: 165px;
  height: 211px;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 25%;
  content:url('/assets/smurf3.png');
  background-image:url('/assets/smurf3.png');
}

.smurf-space {
  margin-left: 135px;
}

.title {
  font-size: large;
}

///////////////////////
.to-bottom {
  position: fixed;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: small;
  z-index: 0;
}

///////////////////////

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.title-text {
  font: 500 25px/32px Roboto,"Helvetica Neue",sans-serif;
  color: #165778;
  font-weight: bold;
}

.title-text:hover {
  text-decoration: none;
}

.title-text:visited {
  text-decoration: none;
}

.title-text:active {
  text-decoration: none;
}

.title-text:link {
  text-decoration: none;
}

h1.example-app-name {
  margin-left: 8px;
  margin-right: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/deep/ .pay-column {
  width: 10em;
  float: left;
}

/deep/ .pay-column2 {
  float: left;
}

/deep/ .payment-column-1 {
  width: 5em;
  float: left;
}

/deep/ .payment-column-2 {
  text-align: right;
  float: left;
  width: 5em;
}

/deep/ .cleaner {
  clear: both;
}

/deep/ md-select {
  width: 100%
}
