<mat-card class="app-content">
  <h1>Přihlášení</h1>

  <form action="" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="login-field">
      <mat-form-field>
        <input matInput type="text" id="email" placeholder="Email" [formControl]="email">
      </mat-form-field>
    </div>

    <br>

    <div class="login-field">
      <mat-form-field>
        <input matInput type="password" id="password" placeholder="Heslo" [formControl]="password">
      </mat-form-field>
    </div>

    <br>

    <button mat-raised-button color="accent" [disabled]="loginForm.invalid" type="submit">Přihlásit</button>
  </form>
</mat-card>
