<mat-card class="app-content">
  <div>Počet týmů: <strong>{{teamsCount}}</strong></div>
  <br>
  <div>Počet týmů, které mají zaplaceno: <strong>{{teamsPayCount}}</strong></div>
  <br>
  <div>Počet lidí z registrace: <strong>{{peopleCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet lidí z variant ubytovaní: <strong>{{peopleAccommodationCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet lidí v budově: <strong>{{peopleBuildingCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet týmů v budově: <strong>{{teamsBuildingCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet lidí v chatkách: <strong>{{peopleHutCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet týmů v chatkách: <strong>{{teamsHutCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet jídel: <strong>{{peopleFoodCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet triček: <strong>{{tshirtsCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Celkem za registraci: <strong>{{payAmountRegistrations | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celkem za ubytování: <strong>{{payAmountAccommodations | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celkem za trička: <strong>{{payAmountTshirts | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celková částka za týmy k platbě: <strong>{{summaryForPay | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celková částka za týmy - zaplaceno: <strong>{{summaryPay | number: '1.0-0'}}</strong> Kč</div>
  <hr>
  <br>

  <div>Vybraná trička:</div>
  <div *ngFor="let tshirt of getTshirts(teams)">
    <div>{{tshirt.name}}: {{tshirt.count}}, {{tshirt.price}} Kč</div>
  </div>
  <br>

  <div>Vybraná jídla:</div>
  <div *ngFor="let food of getFoods(teams)">
    <div>{{food.name}}: {{food.count}}, {{food.price}} Kč</div>
  </div>
  <br>

  <br>
  <div><strong>Týmy:</strong></div>
  <br>
  <div *ngFor="let team of teams; let i = index">
    <div>
      <span [ngClass]="{pay: !!team.paySent, noPay: !team.paySent}"><strong>{{team.name}}</strong></span> -
      <span class="paySent" *ngIf="!!team.paySent">zaplaceno</span>
      <span class="payNoSent" *ngIf="!team.paySent">nezaplaceno</span>
      <span>, VS: {{team.payId}}</span>
      <span>, předpis: {{team.payAmount}} Kč</span>
      <span>, zaplaceno: {{team.paySentAmount | number: '1.0-0'}} Kč</span>
      <span>, tel: {{team.phone}}</span>
      <span>, email: {{team.email}}</span>
    </div>
    <div>ubytování: <strong>{{getAccommodation(team.accommodation)?.name}} - {{getAccommodation(team.accommodation)?.price | number: '1.0-0'}}</strong></div>
    <div>jídlo: </div>
    <div>trička: </div>
    <br>
    <div *ngIf="i === config.teams_limit - 1"><hr></div>
  </div>
  <!--
  <div>{{name}}{{email}}{{phone}}{{teamPeopleCount}}{{teamTshirtsCount}}{{teamAccommodation}}{{pay}}{{payId}}</div>
  <div>{{teamTshirts}} {{teamFoods}}</div>-->
</mat-card>
