<mat-card class="app-content">
  <div>Počet týmů: <strong>{{teamsCount}}</strong></div>
  <br>
  <div>Počet týmů, které mají zaplaceno: <strong>{{teamsPayCount}}</strong></div>
  <br>
  <div>Počet lidí vyplněných v registraci: <strong>{{peopleCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet týmů, které mají jiný počet vyplněných lidí oproti variantě ubytování: <strong>{{teamsIssuesWithPeopleCount}}</strong></div>
  <br>
  <div>Počet lidí z variant ubytovaní: <strong>{{peopleAccommodationCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet lidí v budově: <strong>{{peopleBuildingCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet týmů v budově: <strong>{{teamsBuildingCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet lidí v chatkách: <strong>{{peopleHutCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet týmů v chatkách: <strong>{{teamsHutCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet jídel: <strong>{{peopleFoodCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Počet triček: <strong>{{tshirtsCount | number: '1.0-0'}}</strong></div>
  <br>
  <div>Celkem za registraci: <strong>{{payAmountRegistrations | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celkem za ubytování: <strong>{{payAmountAccommodations | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celkem za trička: <strong>{{payAmountTshirts | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celková částka za týmy k platbě: <strong>{{summaryForPay | number: '1.0-0'}}</strong> Kč</div>
  <br>
  <div>Celková částka za týmy - zaplaceno: <strong>{{summaryPay | number: '1.0-0'}}</strong> Kč</div>
  <hr>
  <br>

  <div><h3>Vybraná trička:</h3></div>
  <div *ngFor="let tshirt of calcTshirts">
    <div>{{tshirt.name}}: <strong>{{tshirt.count}}</strong> ks, <strong>{{tshirt.price | number: '1.0-0'}}</strong> Kč</div>
  </div>
  <br>

  <div><h3>Vybraná jídla:</h3></div>
  <div *ngFor="let food of calcFoods">
    <div>{{food.name}}: <strong>{{food.count}}</strong> ks, <strong>{{food.price | number: '1.0-0'}}</strong> Kč</div>
  </div>
  <br>

  <div><h3>Vybraná ubytování:</h3></div>
  <div *ngFor="let accommodation of calcAccommodations">
    <div>{{accommodation.name}}: <strong>{{accommodation.count}}</strong> ks, <strong>{{accommodation.price | number: '1.0-0'}}</strong> Kč</div>
  </div>
  <br>

  <div><h3>Týmy:</h3></div>
  <div *ngFor="let team of teams; let i = index">
    <div class="team-item" [ngClass]="{pay: !!team.paySent, noPay: !team.paySent}">
      <div>
        <span class="team-name"><strong>{{team.name}}</strong></span> -
        <span class="paySent" *ngIf="!!team.paySent">zaplaceno</span>
        <span class="payNoSent" *ngIf="!team.paySent">nezaplaceno</span>
        <span>, VS: <strong>{{team.payId}}</strong></span>
        <span>, předpis: <strong>{{(getAccommodation(team.accommodation)?.price + config.registration_price + getTshirtsPrice(team)) | number: '1.0-0'}}</strong> Kč</span>
        <span>, zaplaceno: <strong>{{(team.paySentAmount || 0) | number: '1.0-0'}}</strong> Kč</span>
        <span>, tel: {{team.phone}}</span>
        <span>, email: {{team.email}}</span>
        <span>, hráči <> ubytko: <strong>{{getFilledIssue([team]) > 0 ? 'ANO' : 'NE'}}</strong></span>
      </div>
      <div><i>Ubytování:</i></div>
      <div>&nbsp;&nbsp;&nbsp;<strong>{{getAccommodation(team.accommodation)?.name}} - {{getAccommodation(team.accommodation)?.price | number: '1.0-0'}} Kč</strong></div>
      <div><i>Jídla:</i></div>
      <div *ngFor="let food of getFoods([team])">
        <div>&nbsp;&nbsp;&nbsp;<strong>{{food.name}}: {{food.count}}</strong> ks, <strong>{{food.price | number: '1.0-0'}}</strong> Kč</div>
      </div>
      <div><i>Trička:</i></div>
      <div *ngFor="let tshirt of getTshirts([team])">
        <div>&nbsp;&nbsp;&nbsp;<strong>{{tshirt.name}}: {{tshirt.count}}</strong> ks, <strong>{{tshirt.price | number: '1.0-0'}}</strong> Kč</div>
      </div>
    </div>
    <br *ngIf="i === config.teams_limit - 1">
    <div *ngIf="i === config.teams_limit - 1"><hr></div>
    <br>
  </div>
</mat-card>
