<form action="?" (ngSubmit)="sendForm()" [formGroup]="mainForm">
  {{mainForm.status}}
  <label for="name">Název týmu</label>
  <input id="name" type="text" formControlName="name">

  <label for="email">email</label>
  <input id="email" type="text" formControlName="email">

  <label for="password">heslo</label>
  <input id="password" type="password" formControlName="password">

  <div #recaptcha=nbRecaptcha nbRecaptcha
       key="6LfQWjYUAAAAABoiJDcd_kMRQTdVbhy36hxKkGC1"
       [config]="{size: 'invisible'}"
       formControlName="captcha">
  </div>
  <button type="submit">send form</button>
</form>
