<mat-card>
  <h1>Registrace nového týmu</h1>
  <form action="?" (ngSubmit)="sendForm()" [formGroup]="mainForm" class="grid-form">

    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field class="grid-full-width">
          <input matInput placeholder="Název týmu" [formControl]="name" maxlength="100">

          <mat-hint>alfanumerické znaky 3 až 100</mat-hint>
          <mat-error *ngIf="name.hasError('minlength') && !name.hasError('required')">
            Název týmu musí obsahovat minimálně tři znaky
          </mat-error>
          <mat-error *ngIf="name.hasError('minLength') && !name.hasError('required')">
            Název týmu musí obsahovat maximálně sto znaků
          </mat-error>
          <mat-error *ngIf="name.hasError('required')">
            Název týmu je <strong>povinný</strong>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="grid-full-width">
          <input matInput placeholder="Email týmu" [formControl]="email" type="email">

          <mat-hint>slouží i jako přihlašovací jméno</mat-hint>
          <mat-error *ngIf="email.hasError('validEmail') && !email.hasError('required')">
            Zadejte prosím platnou emailovou adresu
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email je <strong>povinný</strong>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Heslo" [formControl]="password" type="password">

          <mat-hint>slouží pro přihlášení, formát...</mat-hint>
          <mat-error *ngIf="email.hasError('validPassword') && !email.hasError('required')">
            Zadejte prosím platné heslo
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Heslo je <strong>povinné</strong>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>


      <!--<mat-grid-tile>4</mat-grid-tile>-->
    </mat-grid-list>

    <!--{{mainForm.status}}
    <label for="name">Název týmu</label>
    <input id="name" type="text" formControlName="name">

    <label for="email">email</label>
    <input id="email" type="text" formControlName="email">

    <label for="password">heslo</label>
    <input id="password" type="password" formControlName="password">-->

    <div #recaptcha=nbRecaptcha nbRecaptcha
         key="6LfQWjYUAAAAABoiJDcd_kMRQTdVbhy36hxKkGC1"
         [config]="{size: 'invisible'}"
         formControlName="captcha">
    </div>
    <br>
    <button type="submit" mat-raised-button color="accent">Registrovat tým</button>
  </form>
</mat-card>
