<mat-card class="app-content">
  <h1>Údaje týmu</h1>
  <form action="?" (ngSubmit)="sendForm()" [formGroup]="mainForm" class="grid-form">
    <div class="text-md-right">
      uživatel:&nbsp;{{(loginUser$ | async).email}}
      <button mat-button color="accent" (click)="logout()">Odhlásit </button>
    </div>

    <div>
      <h2>Údaje pro platbu</h2>
    </div>
    <div>
      účet: {{(loginUser$ | async).payAccount}}
    </div>
    <div>
      variabilní symbol: {{(loginUser$ | async).payId}}
    </div>
    <div>
      částka: {{(loginUser$ | async).payAmount | number: '1.0-0'}}
    </div>
    <br>

    <div>
      <h1>{{(loginUser$ | async).name}}</h1>
    </div>

    <div class="email-column-1">
      <mat-form-field class="">
        <input matInput placeholder="Email týmu" [disabled]="true" [formControl]="email" type="email">
        <mat-hint>slouží i jako přihlašovací jméno</mat-hint>
      </mat-form-field>
    </div>

    <div class="clear"></div>

    <div class="phone-column">
      <mat-form-field class="">
        <input matInput placeholder="Telefont týmu" [formControl]="phone" type="phone">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="phone.hasError('validPhone') && !phone.hasError('required')">
          Zadejte prosím platný telefon
        </mat-error>
        <mat-error *ngIf="phone.hasError('required')">
          Telefon je <strong>povinný</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <!--UBYTOVANI-->

    <div class="accommodations-title">
      <strong>Ubytování</strong>
    </div>

    <!--ROW-->

    <div class="accommodations accommodations-column-1">
      <mat-form-field class="">
        <mat-select placeholder="Ubytování" [formControl]="accommodation">
          <mat-option *ngFor="let item of accommodations | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="accommodation.hasError('required')">
          Ubytování je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <!--HRACI-->

    <div class="team-people">
      <strong>Složení týmu</strong>
    </div>

    <!--ROW-->

    <div class="people-column-1">
      <mat-form-field class="">
        <input matInput placeholder="Jméno" [formControl]="firstName" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="firstName.hasError('required')">
          Jméno je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-2">
      <mat-form-field class="">
        <input matInput placeholder="Příjmení" [formControl]="lastName" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="lastName.hasError('required')">
          Příjmení je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-3">
      <mat-form-field>
        <mat-select placeholder="Vybrané tričko" [formControl]="tshirt">
          <mat-option *ngFor="let item of tshirts | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="people-column-4">
      <mat-form-field>
        <mat-select placeholder="Vybrané jídlo" [formControl]="food">
          <mat-option *ngFor="let item of foods | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="food.hasError('required')">
          Výběr jídla je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="clear"></div>

    <!--ROW-->

    <div class="people-column-1">
      <mat-form-field class="">
        <input matInput placeholder="Jméno" [formControl]="firstName2" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="firstName2.hasError('required')">
          Jméno je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-2">
      <mat-form-field class="">
        <input matInput placeholder="Příjmení" [formControl]="lastName2" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="lastName2.hasError('required')">
          Příjmení je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-3">
      <mat-form-field>
        <mat-select placeholder="Vybrané tričko" [formControl]="tshirt2">
          <mat-option *ngFor="let item of tshirts | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="people-column-4">
      <mat-form-field>
        <mat-select placeholder="Vybrané jídlo" [formControl]="food2">
          <mat-option *ngFor="let item of foods | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="food2.hasError('required')">
          Výběr jídla je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="clear"></div>

    <!--ROW-->

    <div class="people-column-1">
      <mat-form-field class="">
        <input matInput placeholder="Jméno" [formControl]="firstName3" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="firstName3.hasError('required')">
          Jméno je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-2">
      <mat-form-field class="">
        <input matInput placeholder="Příjmení" [formControl]="lastName3" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="lastName3.hasError('required')">
          Příjmení je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-3">
      <mat-form-field>
        <mat-select placeholder="Vybrané tričko" [formControl]="tshirt3">
          <mat-option *ngFor="let item of tshirts | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="people-column-4">
      <mat-form-field>
        <mat-select placeholder="Vybrané jídlo" [formControl]="food3">
          <mat-option *ngFor="let item of foods | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="food3.hasError('required')">
          Výběr jídla je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="clear"></div>

    <!--ROW-->

    <div class="people-column-1">
      <mat-form-field class="">
        <input matInput placeholder="Jméno" [formControl]="firstName4" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="firstName4.hasError('required')">
          Jméno je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-2">
      <mat-form-field class="">
        <input matInput placeholder="Příjmení" [formControl]="lastName4" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="lastName4.hasError('required')">
          Příjmení je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-3">
      <mat-form-field>
        <mat-select placeholder="Vybrané tričko" [formControl]="tshirt4">
          <mat-option *ngFor="let item of tshirts | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="people-column-4">
      <mat-form-field>
        <mat-select placeholder="Vybrané jídlo" [formControl]="food4">
          <mat-option *ngFor="let item of foods | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="food4.hasError('required')">
          Výběr jídla je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="clear"></div>

    <!--ROW-->

    <div class="people-column-1">
      <mat-form-field class="">
        <input matInput placeholder="Jméno" [formControl]="firstName5" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="firstName5.hasError('required')">
          Jméno je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-2">
      <mat-form-field class="">
        <input matInput placeholder="Příjmení" [formControl]="lastName5" type="text">
        <!--<mat-hint></mat-hint>-->
        <mat-error *ngIf="lastName5.hasError('required')">
          Příjmení je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="people-column-3">
      <mat-form-field>
        <mat-select placeholder="Vybrané tričko" [formControl]="tshirt5">
          <mat-option *ngFor="let item of tshirts | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="people-column-4">
      <mat-form-field>
        <mat-select placeholder="Vybrané jídlo" [formControl]="food5">
          <mat-option *ngFor="let item of foods | async" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="food5.hasError('required')">
          Výběr jídla je <strong>povinné</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="clear"></div>

    <!--<div #recaptcha=nbRecaptcha nbRecaptcha
         class="recaptcha"
         key="6LfQWjYUAAAAABoiJDcd_kMRQTdVbhy36hxKkGC1"
         [config]="{size: 'invisible'}"
         (captchaResponse)="onRecaptchaValidateResponse()"
         formControlName="captcha">
    </div>-->
    <br>
    <div class="send-form-col-2" *ngIf="showFillMessage">Povinná pole musíte vyplnit</div>
    <div class="clear"></div>

    <div>
      <button color="accent" mat-raised-button (click)="saveTeam()">Uložit změny</button>
      &nbsp;
      &nbsp;
      <button color="accent" mat-button (click)="saveTeam()">Reset hesla</button>
    </div>
  </form>
</mat-card>
