<mat-card class="app-content">
<p>
Pravidla hry Lost in Hvozd 7E0
verze 5.1
Pravidla mohou být měněna až do začátku hry. Nová verze pravidel bude mít nové číslo. Opravy překlepů a chyb nemající významový vliv nebudou brány jako změna pravidel.

Základní pravidla hry:
O zábavu jde až na prvním místě…
Hry se účastní minimálně 3-členný smíšený tým na dvou lodích. To jest tým stávající se z minimálně jedné osoby ženského pohlaví, jedné osoby mužského či neurčitého pohlaví a dalších osob blíže nespecifikovaného pohlaví. Maximální počet členů týmu není nikterak omezen, pokud dokážou trasu hry absolvovat ve dvou dvoumístných kanoích ke hře poskytnutých. Striktně však doporučujeme 4 členné týmy.☺.
Hry se smí zúčastnit pouze řádně registrované týmy, které splní následující podmínky:
Přihlášení v daném termínu.
Uhrazení startovního poplatku v daném termínu.
Je jim potvrzena účast ze strany pořadatele (limit celkového počtu týmů).
Hry se smí účastnit hráči starší 15 let, pokud startuje v týmu osoba mladší 15 let, musí alespoň jeden člen týmu být starší 18 let, který za mladší osobu přebírá zodpovědnost. Batolata a děti do 10 let jdoucí s týmem jako doprovod nejsou počítány mezi členy týmu.
Hra se uskuteční v termínu 11. června 2016 na řece Sázavě na úseku Týnec nad Sázavou - Pikovice. Vzhledem k tomu že hra je závislá na stavu vody, může v případě nesplavnosti na tomto úseku hra být přesunuta na úsek Čerčany - Týnec nad Sázavou. V případě, že v tomto termínu nebudou oba úseky splavné, hra bude zrušena/přesunuta a týmům vráceno startovné. Konečné rozhodnutí o nekonání či přesunu hry z důvodu stavu vody bude oznámeno týmům nejpozději 3-5 dní před konáním akce.
Hra má omezenou kapacitu na 25 týmů (50 lodí, 100 hráčů) a minimální počet 15 týmů aby se hra uskutečnila.
Týmy se musí přihlásit a uhradit startovné ve výši 1200,- Kč nejpozději do 10. května 2016. Startovné zahrnuje organizaci hry, pronájem dvou kompletních lodí (včetně pádel, záchraných vest a jednoho barelu) a převoz věcí start-cíl. V případě, že tým zruší svou účast pozdějí než dva týdny před konáním hry bude mu vráceno 50% startovného a pokud se odhlásí méně než týden před konáním hry, startovné propadne v plné výši, pokud za sebe nesežene tým náhradu. Startovné je vratné v plné výši v případě nekonání hry (nesplavnost řeky, počasí, nedostatečný počet týmů).
Samotný start hry je plánován na 7:30 hod. Tým však má za povinnost dostavit se na místo startu s dostatečným předstihem, aby si stihl vyzvednout vybavení, startovní materiály a odevzdat věci k převozu do cíle. Pokud se tým nedostaví včas ke svému startu riskuje značné zdržení a komplikace na vlastní úkor. V případě zdržení delšího než 30 minut od startu pořadatel nezaručuje předání materiálů a tým může být ze hry vyřazen.
Hra se bude sestávat ze dvou částí, hlavní vodní a cílové teréní, která pro tým začíná po vrácení lodi nejpozději však v 18:00 hod u kempu Pikovicích. Pozdní vrácení lodi může být penalizováno herním postihem odebrání bodů.Týmy jsou zodpovědné za zapůjčené vybavení a jsou povinni ho nepoškozené odevzdat nejpozději do 18:00 hod v Pikovicích. V případě zaviněného poškození či ztráty jsou účastníci povinni uhradit vzniklou škodu, proto prosíme dbejte pečlivě o zapůjčené vybavení.
Cílem hry je navštívit lineárně všechna stanoviště hry, včetně cíle, během nichž se tým snaží získat maximální počet bodů. Body bude možno získat jednak za řešení šifer, získání pokladu a případné další bonifikace. O body bude moci tým přijít za udělené penalizace v případě porušení některého z pravidel.
Tým, který nedorazí do cíle do 20:00 hod, bude za každou započatou minutu nad tento čas penalizován ztrátou bodu a v případě že nedorazí do 20:30 hod nebude klasifikován.
Tým je povinen během hry plnit pokyny pořadatelů.
K přesunům během hry je zakázáno používat jakýkoliv dopravní prostředek krom zapůjčených lodí a vlastního těla.
Posádky se mohou rozdělit pouze na vzdálenost dvou po sobě jdoucích stanovišť. Rozdělené posádky musí mít s sebou každá část map pro případ absolvování soubojů.
Během vodní části hry se zakazuje přebíhat mezi stanovišti po břehu. Plout proti proudu na předchozí stanoviště zakázáno není.
Na konci hry musí tým odevzdat veškeré materiály sloužící k vyhodnocení soutěže. Tím je myšleno například během hry nepoužité materiály získané na startu soutěže nebo materiály sloužící k vyhodnocení doplňkových úkolů.
Vítězem se stává tým, jež dorazil v časovém limitu do cíle a nasbíral největší počet bodů po odečtu případných penalizací. Teprve až v případě rovnosti bodů rozhoduje o vítězi cílový čas.
Týmům je během hry zakázáno sdílet s ostatními týmy informace týkající se přímo aspektů hry, jako jsou zejména:
Nápovědy a řešení šifer.
Plnění doplňkových úkolů.
Pomoc při získání pokladu nad rámec pravidel (sdílení mapy, sledování jiných týmů při hledání pokladu).
Povolená je pomoc mezi týmy v činnostech, kreré nejsou přímou pomocí v postupu hrou, jako třeba zapůjčení pomůcek či pomocných materiálů, pomoc v nouzi apod.
Systém hry:
Hra se bude sestávat ze startu (0) a 10 stanovišť (očáslovaná 1-10) a cíle (11).
Na startu dostane tým první šifru (A) a na každém dalším stanovišti krom předposledního a cíle si vyzvedne šifru další.
Na každém stanovišti včetně cíle, bude umístěn box na odevzdávání řešení šifer.
Řešením každé šifry bude heslo (podstatné jméno v 1. pádě).
Toto vyřešené heslo vepíše tým na příslušný ústřižek na své kartě týmu a vhodí jej do boxu. Podle toho, do kterého boxu tým řešení odevzdá, získá příslušný počet bodů.
Nejvíce bodů za šifru (15) tak tým získá odevzdáním šifry do boxu na stanovišti n+1 (kde n je stanoviště, kde si šifru vyzvedl).
Nejvyšší bodová srážka (-5) pak bude při odevzdání šifry na stanovišti n+2, kde bude možno k této šifře získat nápovědu.
Za řešení odevzdané na každém dalším stanovišti (n+3 a další) bude sražen 1 bod.
Za špatně odevzdané heslo (jednoznačně nemá nic společného s řešením) neobdrží tým žádné body. V případě drobné chyby v hesle může být sražen 1-3 body (dle velikosti chyby).
Každé stanoviště bude mít pevně danou dobu zavření po jejímž uplynutí nebude již možno do boxu nic vhodit, ani si vyzvednout šifru daného stanoviště, ani zde získat nápovědu k některé z předchozích šifer. Organizátoři si vyhrazují právo tuto dobu uzavření stanovišť v měnit v případě potřeby nebo technických problémů s hrou. Časy uzavření stanovišť se dozví týmy na startu a budou uvedeny i na jednotlivých stanovištích. V případě změny během hry je brána přednostně informace o čase uzavření na stanovištích.
Poslední box na odevzdání řešení šifer bude umístěn v cíli až do samotného konce hry. Týmy tak budou moci v prostoru cíle dolušťovat šifry, které neprolomili během dne a stále za ně obdržet bodové zisky.
Důležitou součástí hry bude i honba za pokladem. Přesná pravidla získání pokladu dostanou týmy v přestihu a budou zde doplněna.
Materiály ke hře obdrží tým až na samotném startu a to sice:
Mapu - oficiální mapa hry, s vyznačenými stanovišti.
První šifru.
Kartu týmu s ústřižky na odevzdání řešení šifer a záznam údajů.
Neúplnou mapu pokladu a popis který by vás měl navést na jeho získání a vaší část mapy v dostatečném počtu kopií.
Dělové koule 4 ks.
Odpadkový pytel na sběr nečistot.
Povinná výbava:
Tričko v barvě vašeho klanu (upřesnění barvy se dozví tým po přijetí do hry).
Kompas/buzola.
Základní šifrovací převodní tabulka od Chlýftýmu
Zakázaná výbava:
Jakýkoliv jiný dopravní prostředek než zapůjčená kanoe.
Elektronická zařízení pro luštění šifer (notebook, tablet, smartphone atp.).
GPS pro navigaci (může být použito pro záznam trasy).
Telefon, vysílačka a jiná komunikační zařízení - Telefon smí být použit výhradně k soukromým účelům, v případě ohrožení zdraví/života, či komunikaci s organizátory. Je zakázáno domlouvání se telefonem v rámci posádek týmu.
Doporučená výbava:
Smyvatelná fixa - (papírová zadání šifer budou foliovaná kvůli voděodolnosti).
Standartní psací pomůcky (psací potřeby, tužka guma, pravítko, kružítko, zvýrazňovače, matematická kalkulačka, mřižkovaný sešit, lepidlo, nůžky, provázek, průhledná lepenka, fólie atp.).
Oblečení pro každou situaci (pláštěnka, plavky).
Jídlo a pití na celý den (možnost stravování v bufetech/hospodách při cestě nezaručujeme).
Vybavení do noci/šera - baterka, čelovka.
Lékárnička - základní vybavení k rychlému ošetření.
Stan a spacák na přespání v kempu.
V případě, že se tým rozhodne hru opustit v jejím průběhu, je povinen o tomto informovat pořadatele, nejlépe telefonem nebo sms a zajistit vrácení půjčeného materiálu.
Organizátoři si vyhrazují právo během hry zrušit či pozměnit stanoviště. Pokud to jen bude možné, budou o tomto týmy kterých se toto týká neprodleně informovány. Toto pravidlo bude uplatněno zcela výjimečně a to například pouze v případě technického selhání, či zásahu vyšší moci. Týmům, které tento zásah ve hře prokazatelně poškodí, může být poskytnuta adekvátní kompenzace v rámci zachování fair-play. O výši kompenzace rozhodují organizátoři.
Každý účastník hry je povinnen poskytnout bezodkladnou pomoc komukoli v případě ohrožení na zdraví či životě. Zároveň by každý měl během hry dodržovat základní pravidla bezpečnosti a předcházet rizikům vzniku zranění či ohrožení na životě. Hráči se zároveň musí během hry řídit všemi zákonnými předpisy a pravidly silničního provozu. Jen pro připomenutí, je zakázáno rozdělávat v lese oheň a jakkoli znečišťovat či ničit okolí atp.
Během hry je zakázáno vstupovat na soukromé pozemky, pokud není výslovně povoleno pořadatelem. Je povoleno vstupovat a pohybovat se na lesních cestách a veřejných cestách. Je zakázáno vstupovat na oplocené či jinými zábranami ohraničené pozemky a obdělané zemědělské plochy.
Pokud dojde ke kontaktu s civilisty neúčastnícími se hry, apelujeme na týmy aby se chovali vždy slušně a s úctou a to i v případě vzniku jakéhokoli konfliktu. O vzniklé či proběhlé konfliktní situaci informujte organizátory.
Týmy mohou v odůvodněném případě podat protest, pokud se domnívají, že nebyla dodržena regulérnost hry či fair-play. Mohou podat následující dva druhy protestu, které mohou mít vliv na výsledné pořadí týmů:
Rychlý protest: Formou SMS na číslo 720 759 897 a pokud možno detailní ústní vysvětlení některému z hlavních organizátorů. Tento protest musí být podán nejpozději do 30 minut od zaslání cílové SMS týmu podávajícího protest, ne však pozdějí než 30 minut před oficiálním vyhlášením výsledků. Tento protest bude v rámci možností posouzen před vyhlášením, organizátoři zváží možné efektivní řešení a budou o něm informovat protestující tým.
Officiální protest: Písemnou formou na email: lostinhvozd@seznam.cz nejpozději do 24 hodin po konání hry. Tento protest bude posouzen organizátory a v případě jeho uznání budou všechny týmy informovány o dopadech na výsledek hry. V případě jeho neuznání bude informován pouze tým podávající protest.
Hry se účastní každý na vlastní nebezpečí.
Účastí ve hře souhlasí účastník s použitím fotodokumentace pořízené v celém průběhu organizace hry pro účely propagace hry. Fotografie mohou být zveřejněny na webových stránkách hry, na facebookovém profilu hry nebo k jiné mediální propagaci hry.
Tým, který se proviní nesplněním některého z pravidel soutěže, může být buďto postižen časovou penalizací a v případě výraznějšího prohřešku i diskvalifikován.
Obecně platné zásady při řešení šifer ve hře:
V šifrách se běžně používá anglická abeceda bez diakritiky (26 písmen) pokud není výslovně uvedeno jinak. Výjimkou je morseovka a polský kříž, jež obsahují písmeno "ch". Na použití abecedy obsahující "ch" (27 písmen) v ostatních případech bude upozorněno.
Základním šifrovacím jazykem je čeština, cizojazyčné názvy a jména se nepřekládají. V případě názvů států, měst a zeměpisných údajů bude použit český název. U některých šifer může být využita základní znalost angličtiny či jiné obecně známé výrazy v jiných jazycích. (např. Hasta la vista, Alea iacta est, Shit happens apod.)
</p>
</mat-card>
